<h1>
    <%= title %>:
</h1>
<!-- section viewr -->

<% if(secs) { secs.forEach(sec=>{%>
    <div class="secView">
        <a class="secLink" href="/?secid=<%= sec._id %>">
            <img class="secImg" src="<%= sec.image %>" alt="" srcset="">
        <p class="secName">
            <%= sec.name %>
        </p>
    </a>
    <% if(isAdmin) { %>
        <!-- remove sec -->
        <form action="/secs/del" method="get">
            <input type="hidden" name="sid" value="<%= sec._id %>">
            <input type="submit" value="×" class="secDelBtn" onclick="confirmDeleteSec(event)">
        </form>
    <%}%>
    </div>
 
<%})%>

        <!-- Only for Admin -->

        <% if(isAdmin) { %>
            <div class="secView">
                <% if(parentId) { %>
                    <a class="secLink" href="/secs/new?parent=<%= parentId %>">
                <%}else{%>
                    <a class="secLink" href="/secs/new">
                <%}%>
                        <img class="secImg" src="/img/plus.png" alt="" srcset="">
                            
                        <p class="secName">
                            Add New
                        </p>
                    </a>
            </div>
        <%}%>
    <%}%>



<div class="quize-Block">
    <% if(quizes) {
        quizes.forEach(quize =>{%>
    <div class="secQuize">
        <a class="quize-Link" href="/quiz?id=<%= quize._id %>">
            <%= quize.name %>
        </a>


        <% if(isAdmin) { %>
        <!-- remove quiz -->
        <form action="/quize/del" method="get">
            <input type="hidden" name="qid" value="<%= quize._id %>">
            <input type="submit" value="×" class="secDelBtn" onclick="confirmDelete(event)">
        </form>
        <%}%>
    </div>
        <%});%>
    <%}%>
        <% if(isAdmin) { %>
            <a class="quize-Link" href="/newquiz">
                &#10133;
            </a>
        <%}%>
</div>



<script>
    function confirmDelete(e)
    {
        if(!confirm('Are you sure?')) {
            e.preventDefault();
        }
    }
</script>
